body {
  font-family: 'Arial', sans-serif;
  background-color: #da7ff9; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heart-image {
  width: 100px; 
  margin-bottom: 20px;
}

h1 {
  color: #d24cff; 
}

p {
  font-size: 18px;
  color: #333;
}

.valentine-btn {
  background-color:#d24cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.valentine-btn:hover {
  background-color:#d24cff;
